image:
  repository: acrfordevopspoc01-adrian.azurecr.io/devops-project
<<<<<<< HEAD
  tag: "1.0.3"
=======
  tag: "1.0.3"
>>>>>>> aac6251 (Run)
  pullPolicy: IfNotPresent

replicaCount: 2

resources:
  requests:
    cpu: "150m"
    memory: "256Mi"
  limits:
    cpu: "300m"
    memory: "512Mi"

env:
  SPRING_PROFILES_ACTIVE: "prod"
  JAVA_OPTS: "-Xms256m -Xmx512m"

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
